<!DOCTYPE html>
<html>
<head>
  <title>Audio Files</title>
</head>

<body>
  <h1>Your Audio Records</h1>

  <ul>
    {% for audio_file in audio_files %}
      <li>{{ audio_file }}</li>
    {% empty %}
      <li>No songs uploaded</li>
    {% endfor %}
  </ul>
  
  <h2>Upload a new audio</h2>
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Upload"/>
  </form>

  <p></p>
  <a href="{% url 'userhome' user.pk %}">Home</a>
</body>
</html>
