<!DOCTYPE html>
<head>
  <title>Station Home</title>
  {% load staticfiles %}
  <script src="{% static 'jquery-1.11.3.js' %}"></script>
  <script src="{% static 'jquery.cookie.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'or_style.css' %}">
  <script>
    $(document).ready(function() {
      var csrftoken = $.cookie('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods don't require CSRF protection
        return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $('#delete').click(function() {
        $.ajax({
            type: 'DELETE',
            url: '{% url 'home_station' station.id %}',
            success: function(response) {
              window.location.href = "{% url 'stations' %}"
            }
        });
      });
    });
  </script>
</head>

<body>
  <h1>{{ station.name }}</h1>
  <p>Address: {{ station.address }}</p>
  <p>Owner: {{ station.owner }}</p>

  <a href="{% url 'channels' %}"><h2>Channels</h2></a>

  <h2>Station Members</h2>
  <ul>    
    {% for member in members %}
    <li>{{ member }}</li>
    {% empty %}
    <li>You haven't added any member yet</li>
    {% endfor %}
  </ul>
  
  <h3>Add a new member</h3>
  <form method="post" action="{% url 'members' station.pk %}">
    {% csrf_token %}
    {{ form1 }}
    <input type="submit" value="Add" />
  </form>

  <h3>Remove a member</h3>
  <form method="post" action="{% url 'remove_member' station.pk %}">
    {% csrf_token %}
    {{ form2 }}
    <input type="submit" value="Remove" />
  </form>

  <h3>Edit Station name and/or address</h3>
  <form method="post" action="">
    {% csrf_token %}    
    {{ form3 }}
    <input type="submit" value="Edit" />
  </form>
  
  <h3>Delete Station!</h3>
  <button id="delete" name="delete">Delete</button>

  <a href="{% url 'userhome' user.pk %}"><h1>Home</h1></a>
</body>
</html>
