<!DOCTYPE html>
<html>
<head>
  <title>Stations</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'or_style.css' %}">
</head>

<body>
  <h1>Your Stations</h1>
  <ul>
    {% for station in stations %}
      <li>
	<a href="{% url 'home_station' station.id %}">{{ station }}</a>
      </li> 
    {% empty %}
      <li>You have not created any stations yet!</li>
    {% endfor %}
  </ul>

  <h2>Create a new station</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Create" />
  </form>


  <a href="{% url 'userhome' user.pk %}">Home</a>
</body>
</html>
