<!DOCTYPE html>
<html>

<head>
  <style>
    li {
    font-size: 20px;
    }
  </style>
</head>

<body>
  <h1>Your Stations</h1>
  <ul>
    {% for station in stations %}
      <li >{{ station }}</li> 
    {% empty %}
      <li>You have not created any stations yet!</li>
    {% endfor %}
  </ul>

  <h2>Create a new station</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Create" />
  </form>


  <a href="{% url 'userhome' user.pk %}">Home</a>
</body>

</html>
